
*{
    margin: 0;
    padding: 0;
    font-family: serif sans-serif;
}
html{
    scroll-behavior: smooth;
}
html,body{
 
    height: 100%;
    width:100%;
}
.main{
    height: 100%;
    width: 100%;
  position: relative;
}
#nav{
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav #logo{
    font-size: 3vw;
    color: rgb(199, 123, 136);
    font-weight: 600;
}


 #nav-part2 ul{
    display: flex;
    gap:4vw;
  
 }
 #nav-part2 ul li{
    list-style-type: none;
 
 }

  #nav-part2 ul li a{
     text-decoration: none;
       color:black;
       font-size: 1.7vw;
  }
   #nav-part2 ul li a:hover{
    color:pink;
   }
   .b-1{
    padding: 10px 10px;
    font-size: 1.4vw;
    background-color:rgb(199, 123, 136) ;
    border: none;
    border-radius: 5px;
  
   }
.b-1:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#btn-1 i{
margin-right: 5px;
}

.icon-1{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:120px;
    position:relative;
}
.icon-1 i{
    display: none;
    margin-right: 10px;
    font-size: 2vw;
    font-weight: 700;
    margin-top: 220px;
   }

   .icon-1 .dropdown{
    visibility: hidden;
    opacity: 0;
    display:block;
    margin-top: 50px;
    background-color: rgb(106, 103, 103);
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
   }
   .dropdown ul{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    gap:3vw;
    list-style-type: none;

   }
   .dropdown ul li a:hover{
    color:white;
 
   }
   .dropdown ul li a{
    text-decoration: none;
    font-size: 2vw;
    color:black;

    
   }
   .icon-1 i:hover{
    cursor: pointer;
   }
   .dropdown.active{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}
 
.content-1{
    width: 100%;
    height: calc(100% - 100px);
    background-color: pink;
    display: flex;
}
#left{
    height: 100%;
    width: 50%;
}
#dialog{
    margin: 10vw 10vw;
}
#left #dialog h1{
    font-size: 4vw;
    animation: head 2s ease-in 2 1s;
}
@keyframes head{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
#left #dialog h1 span{
    color:rgb(199, 123, 136)  ;
}
#left #dialog h2{
    font-size: 2vw;
    color: rgb(165, 76, 106);
    margin-top: 6px;
}
#btn-2{
    margin-top: 10px;
}
#btn-2 i{
    margin-left: 10px;
}
#left #dialog p{
    font-size: 1.5vw;
   
}

#right{
    height: 100%;
    width: 50%;
   
}
#right #img-1 {
    height: 100%;
    width: 100%;
}
#right #img-1 img{
height: 43vw;
width: 40vw;
animation: img 2s ease-in-out 2 1s;

}
@keyframes img{
   0%{
    transform: height(0);
   
   }
  
   100%{
    transform: height(1);
   }
}
.content-2{
    height: calc(100% - 100px);
    width: 100%;
    margin-bottom: 90px;
}
.header-1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: 5vw;
    margin: 4vw 8vw;
    background-color: rgb(237, 207, 212);
   
}
.header-1 span{
    color:rgb(199, 123, 136);
}

#products{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
   align-items: center;

}
.items{
    height: 30vw;
    width: 20vw;
    /* border: 1px solid black; */
    margin-left: 20px;
    display: block;
    text-align: center;
   align-content: center;
      background-color:rgb(248, 243, 243);
}
.items h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.items img{
    object-fit: fill;
    height: 80%;
    width: 80%;


}

.rates{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.3vw;
}
.rates h2{
    color:rgb(199, 123, 136) ;
}
.rates h3{
    text-decoration: line-through;
   
}
.content-3{
    height: calc(100% - 100px);
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
  gap: 0;
 
}

.content-3 .cust{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
height: 100%;
    gap: 2vw;
    flex-direction: row;
    /* margin-bottom: 30px; */
}

.customers{
    height: 29vw;
    width: 16vw;

margin-right: 10px;
margin-left: 10px;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
padding: 2vw 1vw;
gap: 0;
background-color:rgb(248, 243, 243);
}
.image{
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
 
}
.image img{
    height: 80%;
    width: 100%;
    object-fit: cover;
}
.iconstar{
    color:rgb(199, 123, 136) ;
    font-size: 2vw;
    font-weight: 700;
}
.name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.name h2{
    opacity: 0.5;
}
.paras{
    margin-top: 10px;
    font-size: 1.2vw;
    text-align: center;
    line-height: 1.5vw;
}
.content-4{
    height: calc(100% - 100px);
    width: 100%;
    background-color: pink;
    display: flex;
    
}
#left-1{
    width: 50%;
    height: 100%;

}
#left-1 #bookey-1{
    height: 100%;
    width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
#left-1 #bookey-1 img{
    height: 80%;
    width: 80%;
    object-fit: cover;
}
 #bookey-1 img:hover{
    transform: rotate(-3deg);
    cursor: pointer;
 }
#right-1{
      width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#right-1 #details{
    height: 100%;
    width: 90%;
  
margin: 20px;
    border-bottom: 1px solid black;
}
#details h1{
    color: black;
    font-size: 5vw;

}
#details p{
    font-size: 1.6vw;
    display: flex  ;
    justify-content: center;
    align-items: center;
    text-align:justify;

}
#price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26vw;
   margin-bottom: 10px;
}

.content-5{
    height: calc(100% - 100px);
    width: 100%;
margin-top: 100px;
}
.header-1 i{
    color: white;
}
.aboutus{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.left-2 img{
    height: 90%;
width:60%;
object-fit: cover;
}

.right-2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 50%;
    width: 80%;
   
}
.intro p{
  
    align-content: center;
    text-align: justify;
     background-color:rgb(248, 243, 243) ;
}
@media (max-width:600px){
     #nav{
        height: 40px;
        display: flex;
        justify-content: space-between;
        
    }
    #nav #logo{
        font-size: 7vw;
        margin-left: 10px;
    }
    #nav-part2{
        display: none;
    }
    #btn-1{
        display: none;
    }
    #icon-1{
        display: block;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
  

#btn-1 i{
margin-right: 5px;
}


.content-1{
    width: 100%;
    height: calc(100% - 40px);
    flex-direction: column;
}
#left{
    height: 50%;
    width: 100%;
    
}
.header-1{
    margin-top: 7vh;
    
}

.icon-1{
    display: flex;
    justify-content:flex-start;
    flex-direction:column;

    align-items:flex-end;
    position:relative;
}
.icon-1 i{
    display: flex;
    margin-right: 10px;
    font-size: 3vh;
    font-weight: 700;

   }
 .icon-1 .dropdown{
    visibility: hidden;
    opacity: 0;
    display:block;
 
    background-color: rgb(106, 103, 103);
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    margin-bottom: 140px;
   }
   .dropdown ul{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:3vh;
    list-style-type: none;

   }
   
   
   .dropdown ul li a:hover{
    color:white;
 
   }
   .dropdown ul li a{
    text-decoration: none;
    font-size: 3vh;
    color:black;

    
   }
   .icon-1 i:hover{
    cursor: pointer;
   }
   .dropdown.active{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}
#header-11 p{
   display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: 5vw;
    margin: 4vw 8vw;
    background-color: rgb(237, 207, 212);
}
#left #dialog{
    margin: 40px 40px;
}
#left #dialog h1{
    font-size: 7vw;
    font-weight: 700;
     animation: head 2s ease-in 2 1s;
}
@keyframes head{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
#left #dialog h2{
    font-size: 5vw;
    font-weight: 700;
}
#left #dialog p{
    font-size:3vw;
     font-weight: 400;
}
#left #dialog #btn-2{
    font-size: 3vw;
    padding: 4px 5px;
    font-weight: 500;
}
#right{
    height: 50%;
    width: 100%;
    display: block;
    justify-content: center;
}
#right #img-1{
    height: 100%;
    width: 100%;
}
#right #img-1 img{
    height: 100%;
    width: 83%;
    animation: img 3s ease-in-out 2 1s;
}
@keyframes img{
   0%{
    transform: scale(0);
   
   }
  
   100%{
    transform: scale(1);
   }
}
.content-2{
     height: calc(100% - 40px);
    width: 100%;
    margin-top: 5px;
}
#products{
    height: 100%;
    width: 100%;
    display: grid;
grid-template-columns: 1fr 1fr;
    justify-content: center;
   text-align: center;

}
.items{
    height: 40vh;
    width: 22vh;

  border-radius: 0;
  background-color: rgb(240, 240, 246);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin: 10px;
}
.items img{
    height:  100%;
    width: 100%;
      border-radius: 0;
      box-shadow: none;
}
.items h1{
    font-size: 4.5vh;
}
.items h2{
    font-size: 4vh;
}
.items h3{
    font-size: 4vw;
}
.content-3{
    height: calc(100% - 40px);
    width: 100%;
 
  margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    flex-direction: column;
}
.content-3 .cust{
    height: 80vh;
    width: 90%;
display: grid;
grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    flex-direction: column;
  margin-left: 10px;
   margin-top: 20px;
   margin-bottom: 50px;
 
}  

.customers{

    height: 90%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vh 1vh;
    background-color:rgb(248, 243, 243);
    margin: 0vh;
}

.content-3 .iconstar{
    font-size: 2vh;}
.content-3 .name h1{
    font-size: 3vh;
}
.content-3 .name h2{
    font-size: 1.3vh;
}
.content-3 .paras{
    font-size: 1.7vh;
    margin-top: 5px;
    line-height: 2vh;
    text-align: center;
}
.content-4{
    height: calc(100% - 40px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-4 #left-1{
    width: 100%;
    height: 50%;
      display: flex;
    justify-content: center;
    align-items: center;
}
.content-4 #left-1 #bookey-1{
    height: 100%;
    width: 100%;
  
}
#bookey-1 img{
     height: 100%;
    width: 100%;
  
}
#right-1{
    width: 100%;
    height: 50%;
    /* margin-top: 5px; */
    
}
#right-1 #details{
   height: 100%;
   width: 90%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}
#details h1{
    font-size: 4.2vh;
    
}
#details p{

  font-size: 1.6vh;
    width: 100%;
}

#price h2{
    font-size: 3vh;
}
#price{
    width: 50%;
    gap: 26vh;


    
}
#price #ordernow{
  font-size: 1.8vh;
   padding: 1.2vh 3vh;
 width: 100%;
}
#ordernow i{
    display: none;
}
.content-5{
    height: calc(100% - 40px);
    width: 100%;
    margin: 0;
}
.aboutus{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.left-2{
    height: 50%;
    width: 100%;
}
.left-2 img{
    height: 80%;
    width: 60%;
}
.right-2{
    height: 50%;
    width: 100%;
}
.intro{
    height: 100%;
    width: 85%;

}
.intro p {
    font-size: 1.7vh;
}
}
   