*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;

}
.content-1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;

}
.left{
    width: 50%;
    height: 100%;
 
}
.left .image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.left .image img{
    width: 70%;
    height: 85%;
    object-fit:cover;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgray ;
}
.right form{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
form input{
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    background: transparent;
    border: 1px solid white;
}
.right input :focus{
    outline: none;
}
.right button{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 2vw;
    font-weight: 500;
}
.right button:hover{
    background-color: lightgray;
}
